@charset "utf-8";
/* CSS Document */

.main_header{
	background-color:#E9E9E9;
	border-top: 5px solid black;
	box-shadow: 7px 7px 7px 2px #CBCBCB;
	
}
.logo{
	padding: 5px 0px;
	
}

.name_R_H{
	margin:0; 
	height: 280px;
	text-align: center;
	padding: 100px 0px;
}
.name_R_H h1{
	color: black;
	font-size: 74px;
	font-family: 'Dancing Script', cursive;
}

.header-text{
	color: black;
	font-family: 'Play', sans-serif;
	text-align: center;
	padding: 50px;
	
}
.header-text h2{
	padding: 10px 0px;
	margin-bottom: 50px;
}

.header-text h2::after{
	content:"";
	position: absolute;
	bottom: 110px;
	left: 50%;
	width: 150px;
	height: 1px;
	background-color:#8A8A8A;
	margin-left: -75px;
	
}
ul.nav_li {
	text-align: center;
	list-style-type: none;
    margin: 30px 0px;
    padding: 0;
    overflow: hidden;
}

ul.nav_li li {
	background-color:#E9E9E9;
	width: 20%;
	float: right;
	
	
	
}

ul.nav_li li a {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	display: block;
    color: black;
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
}
.btn{
	padding: 6px 59px;
	background-color: #E9E9E9;
	
}
.btn:hover{
	background-color: #8A8A8A;
	
}

ul.nav_li li:hover {
	background-color:#8A8A8A;
	
	
	
}

ul.nav_li li a:hover {
    color: white;
    
}
.header{
	background-image: url(../images/header_Bg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-moz-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
	
}

.designer_part a{
	color: black;
	text-decoration: none;
}

.coder_part a{
	color: black;
	text-decoration: none;
}

.design_code{
	padding: 50px 0px;
	margin-top: 20px;
	margin-bottom: 100px;
	text-align: center;
	font-family:'Source Code Pro', monospace;
}

.coder_bg{
	width: 60%;
	height: 200px;
	margin-top: 25px;
	padding-top: 100px;
	margin-left: 130px;
	background-color: #E9E9E9;
	box-shadow: 7px 7px 7px 2px #CBCBCB;
}
.designer_bg{
	width: 60%;
	height: 200px;
	margin-top: 25px;
	margin-left: 90px;
	padding-top: 100px;
	background-color: #E9E9E9;
	box-shadow: 7px 7px 7px 2px #CBCBCB;
}

.coder_bg:hover{
	background-image: url(../images/code.PNG);
	opacity: 0.5;
	margin-left: 100px;
	width: 70%;
	height: 250px;
	box-shadow: 10px 10px 10px 5px grey;
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	
	
}
.designer_bg:hover{
	background-image: url(../images/domnum_prtnm.png);
	opacity: 0.5;
	width: 70%;
	margin-left: 70px;
	height: 250px;
	box-shadow: 10px 10px 10px 5px grey;
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	
	
}


.contact{
	color: black;
	background-color:#E9E9E9; 
}
.email{
	padding: 10px 0px;
	float: right;
	font-size: 21px;
}
.phone{
	padding: 10px 0px;
	float: left;
	font-size: 21px;
}

footer{
	background-color: #8A8A8A;
	padding-top: 28px;
	padding-bottom: 28px;
	border-bottom: 5px solid black;
}
#copyrights{
	width: 70%;
}
#copyrights p{
	color: black;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
#copyrights p a{
	text-decoration: none;
	color: black;
}
.scroll-top{
	text-align: right;
}
.scroll-top a{
	background-color: black;
	padding: 15px;
}
.scroll-top a i{
	font-size: 20px;
	color: white;
}








