@charset "utf-8";
/* CSS Document */

.main_header{
    width: 100%;
    overflow: hidden;
	background-color:#E9E9E9;
	border-top: 5px solid black;
	box-shadow: 2px 3px 4px 0.8px silver;
    float: left;
	
}


.logo{
    width: 30%;
	padding: 5px 0px;
    margin-left: 35%;
    float: left;
	
}

.navi{
    width: 70%;
    margin-left: 30%;
    float: left;
    
    
}

.img_logo{
    width: 120px;
    height: 100px;
    image-resolution: from-image;
}

.name_R_H{
	margin-top: 70px; 
	height: 180px;
	text-align: center;
	padding: 100px 0px;
}
.name_R_H h1{
	color: black;
	font-size: 25px;
	letter-spacing: 15px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
    text-shadow: 2px 2px 2px grey;
    padding-bottom: 20px;
}

.header-text{
	margin-bottom: 90px;
	color: black;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding: 35px;
	
}
.header-text h2{
    font-size: 26px;
	padding: 10px 0px;
	margin-bottom: 50px;
}

.header-text h2::after{
	content:"";
	position: absolute;
	bottom: 170px;
	left: 50%;
	width: 150px;
	height: 1px;
	background-color:#8A8A8A;
	margin-left: -75px;
	
}
#myInput{
	font-size: 10px;
	width: 300px;
	height: 30px;
	background-color: #E9E9E9; 
}
ul.nav_li {
	text-align: center;
	list-style-type: none;
    margin: 30px 0px;
    padding: 0;
    overflow: hidden;
    text-transform: uppercase;
    
}

ul.nav_li li {
    width: 30%;
	background-color:#E9E9E9;
	float: left;
	
	
	
}

ul.nav_li li a {
	font-family:  Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 15px;
	display: block;
    color: black;
    text-align: center;
    padding: 15px 0px;
    text-decoration: none;
    letter-spacing: 1px;
}
.btn{
    font-size: 25px;
    width: 100%;
    /*height: 50px;*/
    color: black;
	padding: 3px 0px;
	background-color: #E9E9E9;
	
}
.btn:hover{
    color: #E9E9E9;
	background-color: black;
	
}

ul.nav_li li:hover {
	background-color:black;
	
	
	
}

ul.nav_li li a:hover {
    color: white;
    
}
.header{
	background-image: url(../images/header_Bg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	-moz-background-position: 50% 50%;
    -o-background-position: 50% 50%;
    -webkit-background-position: 50% 50%;
	-moz-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
	
}

.designer_part a{
	color: black;
	text-decoration: none;
}

.coder_part a{
	color: lightgrey;
	text-decoration: none;
    
}

.design_code{
    width: 100%;
	padding: 50px 0px;
	margin-top: 20px;
	margin-bottom: 105px;
	text-align: center;
	background-color: #E9E9E9;
	font-family:'Source Code Pro', monospace;
}

.coder_bg{
    background-image: url(../images/code.PNG);
    opacity: 1;
	width: 60%;
	height: 250px;
	margin-top: 25px;
	padding-top: 90px;
	margin-left: 130px;
	/*background-color:#8A8A8A ;*/
	box-shadow: 7px 7px 7px 2px grey;
}
.designer_bg{
    background-image: url(../images/domnum_prtnm.png);
	width: 60%;
    opacity: 1;
	height: 250px;
	margin-top: 25px;
	margin-left: 90px;
	padding-top: 90px;
	/*background-color: #8A8A8A;*/
	box-shadow: 7px 7px 7px 2px grey;
}

.coder_bg:hover{
	background-image: url(../images/code.PNG);
	opacity: 0.85;
	margin-left: 100px;
	width: 70%;
	height: 250px;
	box-shadow: 10px 10px 10px 5px grey;
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	
	
}
.designer_bg:hover{
	background-image: url(../images/domnum_prtnm.png);
	opacity: 0.85;
	width: 70%;
	margin-left: 70px;
	height: 250px;
	box-shadow: 10px 10px 10px 5px grey;
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	
	
}

.contact{
	color: black;
	padding: 20px 20px;
	text-align: center;
    margin-left: 10%;
	
}
.contact_email{
	padding-bottom: 10px;
	width: 100%;
	background-color:#E9E9E9;
}


footer{
	background-color: #333333;
	padding-top: 28px;
	padding-bottom: 28px;
	border-bottom: 5px solid black;
}
#copyrights{
	width: 70%;
	float: left;
}
#copyrights p{
	color: black;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
#copyrights p a{
	text-decoration: none;
	color: black;
}
.scroll-top{
	text-align: right;
}
.scroll-top a{
	background-color: black;
	padding: 15px;
}
.scroll-top a i{
	font-size: 20px;
	color: white;
}


/*-------CV PAGE-----*/


@media only screen and (max-width: 1034px){
    
    .logo{
        width: 15%;
        margin-left: 15%;

    }
    
    .navi{
        width: 65%;
        margin-left: 25%;
    }
    
    .img_logo{
        width: 100px;
        height: 80px;
    }
    
    ul.nav_li li {
        width: 33%;
        text-align: center;

    }
    
    ul.nav_li li a {
        font-size: 13px;
        padding: 12px 0px;
        letter-spacing: 1px;
        font-weight: 549;
    }

    
    .name_R_H{
        margin-top: 90px; 
    
    }
    .name_R_H h1{
        font-size: 18px;
        letter-spacing: 13px;
        
    }
    
    .header-text{
        margin-bottom: 70px;
        padding: 25px;

    }
    .header-text h2{
        font-size: 20px;
        padding: 10px 0px;
        margin-bottom: 50px;
    }

    .header-text h2::after{
        content:"";
        position: absolute;
        bottom: 140px;
        left: 50%;
        width: 150px;
        height: 1px;
        background-color:#8A8A8A;
        margin-left: -75px;

    }
    
    .header-text h4{
        font-size: 16px;

    }
    
    .coder_bg{
        width: 60%;
        height: 250px;
        margin-top: 25px;
        padding-top: 90px;
        margin-left: 130px;
        /*background-color:#8A8A8A ;*/
    }
    .designer_bg{
        width: 60%;
        height: 250px;
        margin-top: 25px;
        margin-left: 90px;
        padding-top: 90px;
        /*background-color: #8A8A8A;*/
    }
    
    .coder_bg h1{
        font-size: 28px;
    }
    
    .designer_bg h1{
        font-size: 28px;
    }
    
    

    
    
}


@media only screen and (max-width: 990px){
    
    
    .coder_bg{
        width: 80%;
        height: 220px;
        margin-left: 10%
        
    }
    .designer_bg{
        width: 80%;
        height: 220px;
        margin-left: 10%
        
    }

    .coder_bg h1{
        font-size: 25px;
    }
    
    .designer_bg h1{
        font-size: 25px;
    }
    
    .coder_bg:hover{
        margin-left: 20px;
        width: 85%;
        height: 220px;
       
    }
    .designer_bg:hover{
        width: 85%;
        margin-left: 20px;
        height: 220px;


    }
    
    
}



@media only screen and (max-width: 765px){
    
    .logo{
        width: 20%;
        margin-left: 5%;

    }
    
    .navi{
        width: 70%;
        margin-left: 5%;
        padding-left: 150px;
    }
    
    .img_logo{
        width: 90px;
        height: 70px;
    }
    
    ul.nav_li li {
        width: 30%;

    }
    
    ul.nav_li li a {
        font-size: 12px;
        padding: 8px 0px;
        letter-spacing: 1px;
        font-weight: 549;
    }

    
   
    .name_R_H h1{
        font-size: 16px;
        letter-spacing: 11px;
        
    }
    

    .header-text h2{
        font-size: 18px;
        padding: 10px 0px;
        margin-bottom: 30px;
    }

    .header-text h2::after{
        content:"";
        position: absolute;
        bottom: 20px;
        left: 53.5%;
        width: 100px;
        height: 1px;
        background-color:#8A8A8A;
        margin-left: -75px;

    }
    
    .name_R_H{
        margin-top: 130px; 
        height: 180px;
        padding: 100px 0px 0px 0px;
    }

    .header-text{
        margin-bottom: 90px;
        padding: 0px;

    }
    
    .header-text h4{
        font-size: 13px;

    }
    
    .coder_bg{
        width: 50%;
        height: 220px;
        margin-top: 25px;
        padding-top: 90px;
        margin-left: 25%;
        /*background-color:#8A8A8A ;*/
    }
    .designer_bg{
        width: 50%;
        height: 220px;
        margin-top: 50px;
        margin-left: 25%;
        padding-top: 90px;
        /*background-color: #8A8A8A;*/
    }
    
    
    .btn{
        font-size: 20px;
        width: 100%;
        padding: 2px 0px;

    }
    
    .coder_bg:hover{
        margin-left: 160px;
        width: 52%;
        height: 220px;

    }
    .designer_bg:hover{
        width: 52%;
        margin-left: 160px;
        height: 220px;

    }
    
    .coder_bg h1{
        font-size: 22px;
        
    }
    
    .designer_bg h1{
        font-size: 22px;
    }
    
    
    .contact{
        margin-left: 0%;

    }

    
    
}


@media only screen and (max-width: 670px){
    
    
    .navi{
        display: none;
    }
    
    .name_R_H h1{
        font-size: 14px;
        letter-spacing: 9px;
        font-weight: 500;
        
    }
    

    .header-text h2{
        font-size: 17px;
        padding: 10px 0px;
        margin-bottom: 30px;
        line-height: inherit;
        letter-spacing:inherit;
    }

    .header-text h2::after{
        content:"";
        position: absolute;
        bottom: 20px;
        left: 53.5%;
        width: 100px;
        height: 1px;
        background-color:#8A8A8A;
        margin-left: -75px;

    }
    
    #myInput{
        width: 200px;
    }
    
    .name_R_H{
        margin-top: 50px; 
        height: 180px;
        padding: 100px 0px 0px 0px;
    }

    .header-text{
        margin-bottom: 90px;
        padding: 0px;

    }
    
    .header-text h4{
        font-size: 12px;

    }
    
    .coder_bg:hover{
        margin-left: 100px;
        width: 55%;
        height: 220px;
       
    }
    .designer_bg:hover{
        width: 55%;
        margin-left: 100px;
        height: 220px;


    }
    
    
}


@media only screen and (max-width: 490px){
    .coder_bg{
        width: 70%;
        height: 230px;
        margin-left: 15%;
        /*background-color:#8A8A8A ;*/
    }
    .designer_bg{
        width: 70%;
        height: 230px;
        margin-top: 50px;
        margin-left: 15%;
        padding-top: 90px;
        /*background-color: #8A8A8A;*/
    } 
    
    .coder_bg:hover{
        margin-left: 60px;
        width: 73%;
        
    }
    .designer_bg:hover{
        width: 73%;
        margin-left: 60px;

    }
}



@media only screen and (max-width: 375px){
    
    
    .navi{
        display: none;
    }
    
    .name_R_H h1{
        font-size: 14px;
        letter-spacing: 9px;
        font-weight: 500;
        
    }
    

    .header-text h2{
        font-size: 17px;
        padding: 10px 0px;
        margin-bottom: 30px;
        line-height: inherit;
        letter-spacing:inherit;
    }

    .header-text h2::after{
        content:"";
        position: absolute;
        bottom: 20px;
        left: 53.5%;
        width: 100px;
        height: 1px;
        background-color:#8A8A8A;
        margin-left: -75px;

    }
    
    #myInput{
        width: 200px;
    }
    
    .name_R_H{
        margin-top: 50px; 
        height: 180px;
        padding: 100px 0px 0px 0px;
    }

    .header-text{
        margin-bottom: 90px;
        padding: 0px;

    }
    
    .header-text h4{
        font-size: 12px;

    }
    
    .coder_bg:hover{
        margin-left: 30px;
        width: 82%;
        height: 220px;
       
    }
    .designer_bg:hover{
        width: 82%;
        margin-left: 30px;
        height: 220px;


    }
    
    .coder_bg{
        width: 80%;
        padding-top: 90px;
        margin-left: 10%;
        /*background-color:#8A8A8A ;*/
    }
    .designer_bg{
        width: 80%;
        margin-left: 10%;
        padding-top: 90px;
        /*background-color: #8A8A8A;*/
    }
    
    
}





