@charset "utf-8";
/* CSS Document */

.row1{
    width: 100%;
    margin-top: 150px;
	background-size: cover;
	/*background:linear-gradient(to bottom,rgba(247,172,174,0.05),rgba(245,42,46,0.3),rgba(247,172,174,0.05));*/
	
}

.populr{
	width: 100%;
	margin-left: 0%;
	text-align: center;
    float: left;
}

.populr h3{
	font-size: 25px;
	font-family:  'Montserrat', sans-serif;
}
.works_content{
	width: 100%;
	background-color: #E9E9E9;
	align-content: center;
	margin: 50px 0px 100px 0px;
	padding-bottom: 50px;
	
}


.image {
	width: 85%;;
	height: 275px;
	float:left;
	padding-left: 0%;
	margin-top: 7%;
	margin-left: 5%;
	border: 0.4px solid #cecccc;
	border-radius: 10px;
	background-color:#E9E9E9;
	box-shadow: 7px 7px 7px 2px lightgrey;
		
}

.image h6{
     color: grey;
}


.image:hover{
	opacity: 0.6;
   
}
.imgsize{
	width: 95%;
	height: 85%;
	display: grid;
	border-radius: 10px;
    margin-left: 2.5%;
}

@media only screen and (max-width: 1200px){
    .image{
        width: 67%;
        margin-left: 20%;
        
    }
}

@media only screen and (max-width: 991px){
    
    .image{
        width: 90%;
        height: 260;
        margin-left: 33%;
        float: left;
        margin-top: 15%;
        
    }
}


@media only screen and (max-width: 767px){
    
    .image{
        width: 55%;
        margin-left: 35%;
        float: left;
        margin-top: 15%;
        
    }
    
}

@media only screen and (max-width: 670px){
    
    .image{
        width: 60%;
        margin-left: 35%;
        height: 260px;
        float: left;
        
    }
    
}


@media only screen and (max-width: 540px){
    
    .image{
        width: 90%;
        margin-left: 18%;
        float: left;
        height: 275px;
        
    }
    
}


@media only screen and (max-width: 450px){
    
    .image{
        height: 255px;
            
    }
    
    
   
}


@media only screen and (max-width: 380px){
    
    .image{
        height: 255px;
        width: 100%;
        margin-left: 12%;
        height: 260px;
        
    }
    .image h4{
        font-size: 13px;
        font-weight: 550;
   
}