@charset "utf-8";
/* CSS Document */
.work_img h2{
    text-align: center;
    padding: 15px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: grey;
}

.work_cont{
    width: 100%;
	float:left;
	padding:15px;
	margin-top: 30%;
	border: 0.4px solid #cecccc;
	background-color:#E9E9E9;
	box-shadow: 7px 7px 7px 2px lightgrey;
}
.work_img img{
    width: 90%;
}
.web_d{
	width: 100%;
	margin: 100px 0px;
	padding: 10px;
}
.prdct_d{
	width: 100%;
	margin: 100px 0px;
	padding: 10px;
}

.AR_d{
	width: 100%;
	margin: 100px 0px;
	padding: 10px;
}
.model_d{
	width: 100%;
	margin: 100px 0px;
	padding: 10px;
}

h4{
	text-align: center;
	padding: 40px 10px;
	margin: 20px;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}

p{
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}