@charset "utf-8";
/* CSS Document */

section{
	width: 100%;
}

.web_d{
	width: 100%;
}

h4{
	text-align: center;
	padding: 20px;
	margin: 10px;
	font-size: 30px;
}
h6{
	text-align: center;
	padding: 20px;
	margin: 10px;
	font-size: 18px;
}